.title {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.subtitle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.subsubtitle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.output-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.example-output {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.example-code {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.hidden {
    visibility: collapse;
}
