.title {
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.tableofcontents {
    justify-content: center;
    text-align: left;
}

.subtitle {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.subsubtitle {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.cheatsheet {
    display: flex;
    flex-direction: column;
}

.linked-heading {
    flex-direction: row;
}

.link-button {
    font-size: .75rem;
    padding: .5rem;
    border: none;
}

.output-button {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.example-output {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    overflow-x: auto;
    width: 100%;
}

.example-code {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    overflow-x: auto;
    width: 100%;
}

pre {
    width: 100%;
}

.hidden {
    visibility: collapse;
    display: none;
}

.footnote {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footnote-link {
    display: inline;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
