[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# These are for our CI code standards and linting checks
pre-commit = "*"
shellcheck-py = "*"

[packages]
jinja2 = "*"

[requires]
python_version = "3.8"
